<!DOCTYPE html>
<html >
<head>
    <title>Fake vehicles API</title>

    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
</head>

<body>

<div class="starter-template">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div>{% block content %}{% endblock %}</div>
            </div>
        </div>
        <div class="row">
            <div class="links">
                <ul>
                    <li><i class="glyphicon glyphicon-cog icon-muted"></i><a
                            href="https://github.com/vyahello/fake-vehicles-api"
                            target="_blank">Github Project</a></li>
                    <li><i class="glyphicon glyphicon-globe icon-muted"></i><a
                            href="https://www.linkedin.com/in/volodymyr-yahello-821746127/"
                            target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                Copyright &copy; Volodymyr Yahello
            </div>
        </div>
    </div>
</div>
</body>
</html>